{% extends "base.html" %}

{% block first_column %}
    {% if blog.use_google_cse %}
    <div id="mainCol" class="fix"><a name="main"></a>
        <div id="cse-search-results"></div>
        <script type="text/javascript">
          var googleSearchIframeName = "cse-search-results";
          var googleSearchFormName = "cse-search-box";
          var googleSearchFrameWidth = 550;
          var googleSearchDomain = "www.google.com";
          var googleSearchPath = "/cse";
        </script>
        <script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>
    </div>
    {% else %}
    <div id="mainCol" class="fix"><a name="main"></a>
    {% if articles %}
        <div class="post">
            <h2>Articles found under '{{ search_term }}'</h2>
        </div>
        {% for article in articles %}
            {% include '../article_excerpt.html' %}
        {% endfor %}
        {% include 'pager.html' %}
    {% else %}
        <div class="post">
            <div class="postMeta"><span class="date">No Matches</span></div>
            <h2>No articles found for '{{ search_term }}'</h2>
            <div class="entry">
                <p>{{ search_error_message }}</p>
                <p>Please try your search again.</p> 
                <p>If you feel that you should be staring at something a little more concrete, 
                    try one of the tags or browse the archives.</p>
            </div>
        </div>
    {% endif %}
    </div>
    {% endif %}
{% endblock %}
